.card {
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    color: #333;
    padding-top: 18px;
}

.cardContainer {
    padding-left: 24px;
    padding-right: 24px;
}
