.avatarContainer {
    display: inline-block;
    padding: 0px 0px;
    max-width: 200px;
}

.name, .subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
}

.username {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #bbb;
}

.subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #999;
}
