.header {
    position: fixed;
    z-index: 2500;
    width: 100%;
    height: 60px;
    background-color: #d9f5ff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    height: 100%;
    padding: 0 24px;
}
